.Principal {
    width: 80%;
    height: 40rem;
    margin: auto;
    margin-top: 5%;
    background-color: black;
    border: 'solid 3px white';
    border-radius: 5%;
}

.clip {
    width: 80%;
    height: 100%;
    margin: auto;
    border-radius: 10%;
}